:root {
	--bg: oklch(90% 0.04 180);
}

body {
	font-family: 'Quicksand', sans-serif;
	font-family: 'Outfit', sans-serif;
	font-family: 'Satoshi', sans-serif;
	font-family: 'Epilogue', sans-serif;
	font-family: 'Chillax', sans-serif;
	margin: 0;
	background: var(--bg);
}
