:root {
	--bg-0: oklch(22% 0.02 180);
	--bg-1: oklch(20% 0.02 180);
	--bg-2: oklch(80% 0.05 180 / 0.1);
	--bg-3: oklch(80% 0.05 180 / 0.2);
	--bg-4: oklch(80% 0.05 180 / 0.3);
	--txt: oklch(80% 0.05 180);
}
