:root {
	--bg-0: oklch(93% 0.05 180);
	--bg-1: oklch(90% 0.05 180);
	--bg-2: oklch(30% 0.05 180 / 0.1);
	--bg-3: oklch(30% 0.05 180 / 0.2);
	--bg-4: oklch(30% 0.05 180 / 0.3);
	--txt: oklch(30% 0.05 180);
}

* {
	box-sizing: border-box;
}

h1 {
	font-weight: 600;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-family: 'Outfit', sans-serif;
	font-family: 'Satoshi', sans-serif;
	// font-family: 'Epilogue', sans-serif;
	// font-family: 'Chillax', sans-serif;
	// font-weight: 300;
	color: var(--txt);
	background-color: var(--bg-1);
	margin: 0;
}

button {
	outline: none;
	border: none;
	background: none;
	font: inherit;
	color: inherit;

	&:hover {
		cursor: pointer;
	}
}

.text-icon {
	display: inline-block;
	vertical-align: middle;
	line-height: 0.8;
}

.icon-button {
	@include flexCenter;

	padding: 1rem;
	color: inherit;
	background-color: var(--bg-2);
	backdrop-filter: blur(3px);
	border-radius: 50%;
	transition:
		background-color 0.2s ease-in-out,
		transform 1s ease-out;

	&:hover {
		transform: rotate(360deg);
		background-color: var(--bg-3);
	}
}

.modal-bg {
	background: none;
}

.modal-window {
	background: var(--bg-2);
	backdrop-filter: blur(3px);
	border-radius: 1rem;
	padding: 2rem;
	font-size: 1.2rem;
}
