* {
	box-sizing: border-box;
}

h1 {
	font-weight: 600;
}

body {
	font-family: 'Satoshi', sans-serif;
	color: var(--txt);
	background-color: var(--bg-1);
	margin: 0;
}

button {
	outline: none;
	border: none;
	background: none;
	font: inherit;
	color: inherit;

	&:hover {
		cursor: pointer;
	}
}

.text-icon {
	display: inline-block;
	vertical-align: middle;
	line-height: 0.8;
}

.icon-button {
	@include flexCenter;

	padding: 1rem;
	color: inherit;
	background-color: var(--bg-2);
	backdrop-filter: blur(3px);
	border-radius: 50%;
	transition:
		background-color 0.2s ease-in-out,
		transform 1s ease-out;

	&:hover {
		transform: rotate(360deg);
		background-color: var(--bg-3);
	}
}
